// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~bootstrap/scss/bootstrap';
body {
  font-size: 1.5rem;
}
.navbar, .navbar>.container, .navbar>.container-fluid {
  display: inherit;
  flex-wrap: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.navbar-static-top .nav-link {
  float: right;
  padding: 1.5rem 1rem;
  color: white;
}

.navbar-custom-menu {
  padding-top: 5px;
}